.nav {
    list-style-type: none;
    margin-left: 50px;
    display: flex;
}

.nav-item {
    margin-right: 10px;
}

.nav-link {
    color: #2B5B3F;
    background-color: #E9972D;
    padding: 12px 20px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}


.nav-link.active {
    color: #E9972D;
}

.nav-link:hover {
    background-color: #E9972D;
    color: #143829;
}
